<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Liste des réservations</h2>
    <button mat-raised-button color="primary" routerLink="/new-reservation">
      <mat-icon>add</mat-icon>
      Nouvelle réservation
    </button>
  </div>

  <div *ngIf="listreservation.length === 0" class="alert alert-info text-center">
    Aucune réservation trouvée.
  </div>
  <div class="list-game row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-4">
    <ng-container *ngFor="let res of listreservation">
        <app-reservation [reservation]="res"></app-reservation>
    </ng-container>
  </div>
</div>
