.platform-icon {
  max-width: 100%;
  max-height: 70px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.game-detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  mat-icon {
    margin-right: 10px;
    color: #1d278f;
  }
}
