.platform-icon {
  max-width: 100%;
  max-height: 40px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.reservation-detail {
  mat-icon {
    margin-right: 10px;
    color: #1d278f;
  }
  span {
    margin-left: 10px;
  }
}
