<div class="container mt-4">
  <h2 class="mb-4">Catalogue de Jeux Vidéo</h2>
  <div class="mt-4 mb-4">
    <input matInput type="text" placeholder="Nom du jeu" #filtre>
    <button mat-flat-button class="primary ms-3 me-3" type="button" (click)="filtrerJeux(filtre.value)"><mat-icon>search</mat-icon> Rechercher</button>
    <button mat-flat-button class="primary" type="button" (click)="clearFiltres()"><mat-icon>close</mat-icon> Annuler la recherche</button>
  </div>

  <div class="list-game row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <ng-container *ngFor="let game of listeGameFiltree">
      <div class="col" *ngIf="game.stock > 0">
        <app-game [game]="game"></app-game>
      </div>
    </ng-container>
  </div>
</div>
